:root {
  /*CORES*/
  --color-white: #ffffff;
  --color-green: #b0cb1f;
  --color-black: #000000;
  --color-black-2: #333231;
  --color-green-2: rgba(176, 203, 31, 0.1);
  --color-grey: #191c1f;
  --color-grey-ligth: #5f6c72;
  --color-blue: #2da5f3;

  --font-size-h1: 16px;
  --font-size-h2: 25px;
  --font-size-h3: 48px;
  --font-size-body: 16px;
  --font-size-caption: 14px;

  --font-family-primary: "Inter", sans-serif;
}
