@import url("./global.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60.5px;
}

.navigation-header {
  display: flex;
  gap: 30px;
  font-size: var(--font-size-body);
}

.navigation-header a {
  font-family: var(--font-family-primary);
  color: var(--color-black);
}

.button-login {
  font-family: var(--font-family-primary);
  color: var(--color-black);
  padding: 12px 30px;
  background-color: var(--color-green);
  border-radius: 15px 3px;
  transition: 0.3 ease;
}

.button-login:hover {
  background-color: var(--color-green-2);
  border: 0.5px solid var(--color-green);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}

.container-product {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 499px;
}

.avaliacoes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.avaliacoes p {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-caption);
  font-weight: 600;
  color: var(--color-grey);
}

.avaliacoes span {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-caption);
  font-weight: 600;
  color: var(--color-grey-ligth);
}

h1 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h1);
  color: var(--color-grey);
  font-weight: 700;
}

.valores {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-family-primary);
}

.valores h2 {
  color: var(--color-blue);
}

.valores span {
  color: var(--color-grey-ligth);
  text-decoration: line-through;
}

.valores p {
  color: var(--color-grey);
  font-size: var(--font-size-body);
  background-color: #efd33d;
  padding: 5px 10px;
  font-weight: 700;
}

.cores {
  display: flex;
  gap: 12px;
}

.cor {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: var(--cor);
  position: relative;
  transition: 0.2s;
}

.cor::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 2px solid #bdbdbd;
}

.cor.selecionada::after {
  content: "";
  position: absolute;
  inset: -6px;
  border-radius: 50%;
  border: 2px solid #fa8232;
}

.button-add-carrinho {
  font-family: var(--font-family-primary);
  color: var(--color-black);
  padding: 12px 30px;
  background-color: var(--color-green);
  border-radius: 15px 3px;
  transition: 0.3 ease;
  width: 225px;
}

.button-add-carrinho:hover {
  background-color: var(--color-green-2);
  border: 0.5px solid var(--color-green);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 323px;
}

.dados-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--font-size-body);
  color: var(--color-black-2);
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  font-family: var(--font-family-primary);
  padding: 60px 0;
}

.logo-footer {
  justify-content: start;
}

.redes {
  display: flex;
  gap: 16px;
  justify-content: start;
}

.rede-social {
  background-color: var(--color-black-2);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rede-social:hover {
  background-color: var(--color-black);
}

.footer-menu {
  display: flex;
  gap: 60px;
  font-family: var(--font-family-primary);
}

.button-enviar-form {
  font-family: var(--font-family-primary);
  color: var(--color-black);
  padding: 12px 30px;
  background-color: var(--color-green);
  border-radius: 15px 3px;
  transition: 0.3 ease;
  width: 107px;
}

.button-enviar-form:hover {
  background-color: var(--color-green-2);
  border: 0.5px solid var(--color-green);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dados-formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario {
  background-color: var(--color-green-2);
  display: flex;
  flex-direction: column;
  padding: 60px;
  align-items: center;
}

.formulario h3 {
  font-family: var(--font-family-primary);
  color: var(--color-black);
  font-size: var(--font-size-h3);
  text-align: center;
}

.row-1 {
  display: flex;
  gap: 16px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
